.login {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 600px;
    border: 2px solid black;
    width: 90%;
    margin: 2% auto;
}

.login-form {
    width: 300px;
    height: 300px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
}

.login-info {
    width: 300px;
    height: 300px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;

}

.login-button {
    margin: 2% auto;
    text-align: center;
}