.linkes{
    color: white;
    text-decoration: none;
    margin: 0% 10% 0% 0%;
}

.linkes:hover{
    color:antiquewhite;
}

.logo{
    margin: 0% 10% 0% 0%; 
    width: 100%;
    text-align: left;
}

.imgl{
    width: 6%;
    height: 6%;
    margin: 0% 2%;
}
